:root{
    /*主色 暖橙  */
    --bs-primary:#ff9f43;
    --bs-primary-rgb: 255, 159, 67;
    /* 背景：奶白 */
   --bs-light: #fff6e5;
   --bs-light-rgb: 255, 246, 229;

   /* 文字：深棕 */
   --bs-dark: #3e2723;
   --bs-dark-rgb: 62, 39, 35;
}

.btn-primary{ 
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
}

.bg-light {
  background-color: var(--bs-light) !important;
}

.text-dark {
  color: var(--bs-dark) !important;
}